* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(160, 198, 221);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Radio Canada Big', sans-serif;
}

div {
    text-align: center;
    padding: 20px;
}

.cart_image {
    width: 100%;
    max-width: 200px;
    margin: auto;
    display: block;
    margin-top: 20px;
}

div h6 {
    font-size: 25px;
    padding: 20px 0;
}

div p {
    color: rgb(65, 61, 61);
    font-size: 20px;
    margin-top: -10px;
}

div a {
    text-decoration: none;
}

div a button {
    margin: 30px auto;
    padding: 20px;
    background-color: black;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .cart_image {
        margin-top: 10px;
    }

    div h6 {
        font-size: 22px;
        padding: 10px 0;
    }

    div p {
        font-size: 18px;
    }

    div a button {
        padding: 15px;
    }
}

@media (max-width: 1080px) {
    .cart_image {
        max-width: 400px;
    }

    div h6 {
        font-size: 50px;
        margin-left: 50px;
        padding: 5px 0;
    }

    div p {
        padding: 30px;
        font-size: 40px;
    }

    div a button {
        font-size: 30px;
        width: 350px;
        height: 100px;
        padding: 10px;
        margin-top: 100px;
        border-radius: 50px;
    }
}
